# 개발 환경: 구글 코랩 Google Colab
- 저희가 쓸 사이트: https://colab.research.google.com/
	- Jupyter notebook 형식으로 파이썬을 실행할 수 있게 해 주는 구글이 제공하는 사이트
## Jupyter notebook이란?
- 파이썬은 인터프리터 언어
- 컴파일러와 대조적
	- 컴파일러: 코드를 다 작성하면 → 코드 전체를 기계가 읽을 수 있는 기계어로 한번에 번역해서 → 기계어로 된 프로그램을 실행 (C, C++, Java 등)
	- 인터프리터: 코드를 한줄씩 기계어로 번역해서 → 한 줄씩 실행한 뒤 → 다음 줄을 기계어로 번역하는 과정을 반복 (Python, MATLAB 등)
- 인터프리터 언어의 특징을 살려서 Cell 단위로 실행시킬 수 있게 만든 IDE (Integrated Development Environment, 통합 개발 환경)
	- 코드의 cell의 순서가 아니라 실행 순서에 따라 결과들이 누적된다.

## 이 사이트를 이용하는 이유
- 무료로 이용 가능
- 컴퓨터에 파이썬을 설치하지 않아도 됨
	- 나중에 웹앱 서버를 띄우려면 로컬 환경(PC나 노트북)에서 설치하거나 클라우드 컴퓨팅을 이용해야 하지만 지금은 일단 파이썬과 친해지는것이 목적
- 대부분의 패키지가 설치되어 있고, 필요하면 추가 패키지를 설치할 수 있음
- 심지어 GPU 사용이 가능! DNN 모델을 돌릴 수 있다! 하지만 무료 버전에서는 제한이 걸릴 수 있음

## 구글 코랩의 단점
- 일정 시간이 지나면 끊김
	- 끊긴다는 말은, 개발 환경이 초기화된다는 뜻
	- 코드는 남지만 코드로 실행했던 변수 등은 메모리에서 삭제됨

## 구글 코랩의 특징
- 구글 드라이브에 코드와 사용했던 파일들이 저장됨

- - - 
# 실습
-  https://colab.research.google.com/ 에 접속
- "+ 새 노트" 버튼을 클릭
- 원하는대로 제목 변경: ex. "20250917_웹앱스터디_1주차.ipynb"
	- 확장자 ipynb 는 ipython notebook 을 줄인 말이다

## 첫번째 예제

In [1]:
1 + 1

2

- Tip: 코드를 쓰고 Shift + Enter 를 누르면 코드가 실행된다. 혹은 왼쪽의 ▶️ 버튼을 눌러준다.

## Print 문

In [2]:
print("Hello, World")

Hello, World

In [3]:
1 + 1
1 + 2

3

In [4]:
print(1 + 1)
print(1 + 2)

2
3

- print 는 함수
	- 나중에 나오겠지만, 특정한 기능을 불러오는 것이라고 생각할 수 있음
	- 화면에 메시지를 출력해주는 용도
	- 함수는 괄호가 붙어야 함: 괄호 안에 들어가는 것을 텍스트로 출력해준다

In [5]:
print('나는', 3, '년째 회사를 다니고 있다')

나는 3 년째 회사를 다니고 있다

- 위와 같이 콤마로 구분하여 값들을 묶어서 출력할 수도 있다.
	- 띄어쓰기가 중간에 들어간다.

## 주석 (Comment)

In [6]:
# 이것은 주석입니다. 아무런 효과도 일어나지 않습니다.
print(123)

123

- 주석을 만나면 기계어는 스킵함
- 앞에 `#`을 붙여주면 주석이 된다
- 언제 주석을 쓰는가?
	- 예전 코드를 남겨두고 싶을 때
	- 코드를 설명하고 싶을 때
		- "내 코드는 나 혼자만 보는 것이 아니다"
		- "심지어 나도 나중에 보면 이 코드가 무슨 코드인지 기억이 나지 않는다"

## 변수 (Variable)

In [7]:
age = 30
print(age)

30

- 변수란?
	- 가변적인 어떤 값
	- 예시
		- 메모리에 어떤 값 (여기서는`30` 이라는 숫자) 을 저장할 수 있다.
		- 1년이 지나서 한~참 전에 저장한 `30` 이라는 숫자 (중간에 달라졌을 수도 있음) 에 `1`를 더하고 싶다.
		- 어라? 어떻게 불러오지?
	- 변수 = 메모리에 저장된 저장공간을 가리키는 이름
		- 대소문자를 구분한다
	- 위의 예시에서는 `age` 
		- `age`가 아니라 어떤 이름이든 가능하다. 심지어 한글도 가능.
		- 하지만 "내 코드는 나 혼자만 보는 것이 아니다" "심지어 나도 나중에 보면 이 코드가 무슨 코드인지 기억이 나지 않는다"
		- 그렇기 때문에 변수명은 가능하면 의미가 있는 이름을 붙여주자.
- 주의사항
	- 파이썬에는 이미 "이 단어는 이런 역할을 하는거야" 인 예약어란 것들이 있다. 변수명은 예약어와 겹칠 수 없다.
		- ex) list, set, dict, and, or, del, ...

In [8]:
age = age + 1
print(age)

31

In [9]:
age = 19 # 덮어 씌워질 수도 있음
print(age)

19

## 자료형

In [10]:
print(Hello, World) # 에러 나는 것이 정상

NameError: name 'Hello' is not defined

- 자료형이란?
	- 컴퓨터 메모리에 데이터가 저장될 때, "어떤 형식" 으로 저장되어야 하는지 정해둔 것
	- 코드만 보았을 때, 위의 예시에서 `Hello` 라는것이 다른 값을 저장한 변수인지, 아니면 문자 "Hello" 를 출력하길 원하는 것인지 컴퓨터는 알 수 없음
		- 사실은 변수라고 생각하지만 Hello 라는 변수가 없으므로 에러가 남 (`NameError: name 'Hello' is not defined`)
	- 그러므로 파이썬이 어떤 자료형을 다룰 수 있는지 알아야 한다

### 숫자형
#### 정수 (integer)
- 소수점이 없는 양의 정수, 음의 정수, 0

In [11]:
type(123)

int

In [12]:
# 변수의 경우에도 동일
a = -123
type(a)

int

#### 실수 (floating-point)
- 소수점이 포함된 숫자

In [13]:
type(3.141592)

float

In [14]:
type(4 / 1) # 나누기 연산은 int 간의 연산이더라도 float 으로 변환한다

float

#### 연산자
- 사칙연산
	- `+` 더하기, `-` 빼기, `*` 곱하기, `/` 나누기
- 제곱 연산자
	- `**` 제곱
- 몫과 나머지
	- `//` 몫 연산, `%` 나머지 연산
- 대입 연산자
	- 기본
		- `=` 
	- 복합 대입연산자
		- `+=`, `-=`, `*=`, `/=`, `%=`, `**=` 연산자 뒤의 값을 더한 값을 앞의 값에 대입

In [15]:
1 + 1

2

In [16]:
2 ** 5

32

In [17]:
10 // 3, 10 % 3

(3, 1)

In [18]:
a = 35
a = a + 4
b = 35
b += 4

print(a, b)

39 39

### 문자열 (string)

In [19]:
a = 'Hello'
type(a), print(a)

Hello

(str, None)

In [20]:
a = "Hello"
type(a), print(a)

Hello

(str, None)

In [21]:
a = """Life is too short,
You need python"""
type(a), print(a)

Life is too short,
You need python

(str, None)

In [22]:
a = '''Life is too short,
You need python'''
type(a), print(a)

Life is too short,
You need python

(str, None)

- 네 가지 방법 모두 문자열을 만드는 방법
	- 큰/작은 따옴표 세개로 묶으면 개행문자 (new line, enter) 를 인식할 수 있고, 큰/작은 따옴표 한개로 묶으면 개행문자를 인식할 수 없다.
- 어떤 것을 써야 하는가?
	- 큰 따옴표를 쓰면 작은 따옴표를 문자열 안에 넣을 수 있고, 반대로 작은 따옴표를 쓰면 큰 따옴표 안에 넣을 수 있다.
	- 근데 뭐 사실 뭘 써도 상관 없고 일관적으로 쓰는 것이 좋다.

In [23]:
# 에러가 난다. 작은 따옴표가 's 에서 닫혀버렸기 때문
'오늘 저녁은 파파존스's 신메뉴'

SyntaxError: invalid syntax (2906873524.py, line 2)

In [24]:
# 에러 없음
"오늘 저녁은 파파존스's 신메뉴"

"오늘 저녁은 파파존스's 신메뉴"

In [25]:
# 사실 역슬래시 \ 를 따옴표 앞에 붙여줘도 된다. 하지만 귀찮으니까...
'오늘 저녁은 파파존스\'s 신메뉴'

"오늘 저녁은 파파존스's 신메뉴"

In [26]:
'내가 말했다. "미트볼 샌드위치가 최고야"'

'내가 말했다. "미트볼 샌드위치가 최고야"'

In [27]:
# 에러가 난다. 개행문자가 들어갔기 때문
"나는 생각했다.
'오늘 저녁은 뭘 먹지?'"

SyntaxError: EOL while scanning string literal (2216182987.py, line 2)

In [28]:
"""
나는 생각했다.
'내일 아침은 뭘 먹고?'
"""

"\n나는 생각했다.\n'내일 아침은 뭘 먹고?'\n"

In [29]:
"이런 방법도\n있습니다."

'이런 방법도\n있습니다.'

#### 이스케이프 코드
- 줄바꿈
	- `\n`
- 탭
	- `\t`
- 특수문자
	- `\\`, `\'`, `\"`
- 캐리지 리턴
	- 커서를 현재 줄의 가장 앞으로 이동
	- `\r`
- 그 외: https://wikidocs.net/13

#### 문자열 연산
- 문자열도 연산자를 쓸 수 있다.

In [30]:
a = 'Hello, '
b = 'World'
a + b

'Hello, World'

In [31]:
a = 'Hello'
a * 3

'HelloHelloHello'

- 문자열의 길이를 구할 땐 `len` 함수를 쓴다.

In [32]:
# 바로 위 코드를 실행했다면 Hello의 길이인 5가 나온다.
len(a)

5

#### 문자열 인덱스
- 문자열의 각 요소를 인덱스로 접근할 수 있다.
	- 파이썬의 인덱스는 0부터 숫자를 센다!
	- - 를 붙이면 뒤에서부터 인덱스를 세 준다
```
a[4], a[-1]
```

- 문자열 슬라이싱
	- `[시작번호:끝번호]`
		- 중요! 파이썬은 슬라이싱의 결과 시작번호의 원소는 넣어주지만 끝번호의 원소는 넣지 않는다.
	- `[시작번호:끝번호:건너 뛸 숫자]`
		- 건너 뛸 숫자는 -가 붙으면 거꾸로 값을 가져온다.
	- 만약 시작번호나 끝번호가 생략되면 가장 처음과 가장 마지막을 잡는다.

In [33]:
a = "The cake is a lie"
a[4:8], a[-3:], a[::-1], a[:7:2]

('cake', 'lie', 'eil a si ekac ehT', 'Teck')

#### 문자열 포맷팅

In [34]:
a = 3
print(f'사과 {a}개가 남아있다') # fstring
print('사과 {0}개가 남아있다'.format(a)) # format 메소드
print('사과 %d개가 남아있다' % a) # 문자열 포맷팅

사과 3개가 남아있다
사과 3개가 남아있다
사과 3개가 남아있다

- 셋 다 가능하나 셋 중 fstring이 대세가 되어가고 있음
- 여기에서는 fstring을 설명할 예정
	- 나머지는 이곳을 참조: https://wikidocs.net/13

In [35]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

- 중괄호 안은 변수 이름 뿐만이 아니라 문자열로 표현할 수 있는 어떤 값이든 들어갈 수 있다.

In [36]:
f'나는 내년이면 {age + 1}살이 됩니다.'

'나는 내년이면 31살이 됩니다.'

- 정렬, 공백 채우기, 소숫점 포맷팅 등은 다음과 같이 표현할 수 있다.

In [37]:
print('[', f'{"hi":<10}', ']') # 10칸 중 왼쪽 정렬
print('[', f'{"hi":>10}', ']') # 오른쪽 정렬
print('[', f'{"hi":^10}', ']') # 가운데 정렬

print('[', f'{"hi":=^10}', ']') # 가운데 정렬하고 '=' 문자로 공백 채우기

y = 3.42134234
print(f'{y:0.4f}') # 소숫점 4자리까지만 표현

print(f'난 {1500000:,}원이 필요해') # 자릿수 표현하기

[ hi         ]
[         hi ]
[     hi     ]
[ ====hi==== ]
3.4213
난 1,500,000원이 필요해

#### 몇몇 문자열 함수들

- 이 곳의 함수들을 모두 외울 필요는 없다. 
	- 하지만 이런 함수가 있다는것을 알아야 나중에찾아서 쓸 수 있기 때문에 한번씩 써 보자.

- 메소드를 통해 대소문자를 변경할 수 있다.

In [38]:
a = 'hELLO wORLD'
print(a.upper(), a.lower(), a.title())

HELLO WORLD hello world Hello World

- 좌우 공백 (띄어쓰기) 를 자동으로 삭제시킬 수 있다.

In [39]:
a = '   hello   '
print('[', a.lstrip(), ']')
print('[', a.rstrip(), ']')
print('[', a.strip(), ']')

[ hello    ]
[    hello ]
[ hello ]

- 문자열을 치환할 수 있다.

In [40]:
print('I like pizza'.replace('pizza', 'burgers'))

I like burgers

- 문자열을 띄어쓰기 기준으로 나눠서 리스트로 만들 수 있다.
	- 리스트는 이 다음에 설명된다.

In [41]:
a = 'Life is too short'
print(a.split())

b = 'Life-is-too-short'
print(b.split('-'))

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

- 문자열이 알파벳 / 숫자로만 구성되어 있는지 확인하기

In [42]:
'Python'.isalpha(), 'Python3'.isalpha(), 'Hello World'.isalpha()

(True, False, False)

In [43]:
'12345'.isdigit(), 'l2345'.isdigit(), '12 45'.isdigit()

(True, False, False)

- 문자열이 특정 문자로 시작하는지/끝나는지 확인하기

In [44]:
s = 'Life is too short'
s.startswith('Life'), s.startswith('short')

(True, False)

In [45]:
s.endswith('Life'), s.endswith('short')

(False, False)

### 리스트 (List)
- 어떤 값들을 일렬로 쭉 세운 배열 자료형이다.
- 문자열에서 split 했을때 나온 값이 리스트이다.
- `[`와 `]`사이에 값을 콤마로 구분하여 넣어줄 수 있다.

In [46]:
a = [1, 2, 3, 4, 5]
b = ['The', 'cake', 'is', 'a', 'lie']
c = [] # 빈 리스트
d = ['나는', 3, '개의 사과를 가지고 있어'] # 여러 자료형들이 섞여있을수도 있다
e = [a, b, c, d] # 리스트의 리스트. 사실 어떤 값이든 들어갈 수 있다

#### 리스트의 인덱스
- 문자열과 동일한 방식으로 인덱스와 슬라이스를 할 수 있다
	- 중첩 리스트 (리스트 안에 리스트) 인 경우에는 `[]` 를 여러번 써 주면 접근할 수 있다

In [47]:
print(d[0], a[-1], e[3][2])

나는 5 개의 사과를 가지고 있어

In [48]:
a[1:3], a[2:], a[:-3]

([2, 3], [3, 4, 5], [1, 2])

#### 리스트의 연산
- 문자열과 동일하게 리스트끼리 연산 `+`, `*` 를 쓸 수 있다.

In [49]:
[1, 2] + [3, 4, 5]

[1, 2, 3, 4, 5]

In [50]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

- 리스트의 길이도 마찬가지로 `len` 함수를 쓸 수 있다.

In [51]:
len(e), len(e[2])

(4, 0)

#### 리스트의 수정과 삭제
- 인덱스를 이용해 리스트 안의 값을 수정할 수 있다.

In [52]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

- 특정 값을 삭제하려면 `del` 을 쓰면 된다.

In [53]:
del a[2]
a

[1, 2]

- 리스트 뒤쪽에 값을 추가하려면 `append`, `extend` 메소드를 사용할 수 있다.

In [54]:
a.append(5) # append 는 값 하나씩 리스트 뒤에 붙여준다.
a

[1, 2, 5]

In [55]:
a.extend([6, 7]) # extend는 리스트 뒤에 리스트를 붙여주는 역할을 한다.
a

[1, 2, 5, 6, 7]

- 중간에 값을 넣고 싶을 때에는 `insert`, 중간의 값을 제거할 때에는 `del` 외에도 `remove` 를 쓸 수 있다.

In [56]:
a.insert(0, 8)
a

[8, 1, 2, 5, 6, 7]

In [58]:
a.remove(2)
a

[8, 1, 5, 6, 7]

#### 그 외 리스트 관련 함수
- 리스트를 오름차순 / 내림차순으로 정렬할 수 있다.

In [59]:
a = [3, 1, 2, 5, 4]
a.sort() # sort 메소드는 오름차순 정렬
a

[1, 2, 3, 4, 5]

In [60]:
a = [3, 1, 2, 5, 4]
a.reverse() # reverse 메소드는 내림차순 정렬
a

[4, 5, 2, 1, 3]

- 리스트에서 특정 값을 찾아서 인덱스를 가져올 수 있다.
	- 만약 존재하지 않는 값을 찾으려 할 때에는 에러가 나니 주의!
	- 참고로 이 메소드는 문자열에서도 쓸 수 있다.

In [61]:
a = [3, 1, 2, 5, 4]
a.index(5)

3

In [62]:
a.index(-1) # ValueError 가 난다

ValueError: -1 is not in list

- `count`는 리스트 안의 특정 값이 몇번 등장하는지 세 준다.
	- 마찬가지로 이 메소드는 문자열에서도 쓸 수 있다.

In [63]:
a = [1, 2, 1, 3, 4, 3, 3]
a.count(3)

3

- `pop` 이라는 메소드가 있는데, 얘는 가장 마지막의 값을 끄집어낸 뒤 그 값을 리스트에서 삭제한다.

In [64]:
a = [1, 2, 3, 4]
b = a.pop()
a, b

([1, 2, 3], 4)

### 튜플 (tuple)
- 리스트의 불변 자료형 버전
	- 리스트는 중간의 값을 바꾸거나 삭제거나 삽입할 수 있었는데, 튜플은 이것이 불가능하다.
	- 그렇기 때문에 튜플은 좀 더 가볍고, 불변 자료형을 요구하는 경우 사용할 수 있다.
- 사용법
	- 괄호 안에 값을 콤마로 구분해주면 된다.
		- 한 개의 값을 튜플에 넣을 때에도 콤마가 필요하다.
		- 빈 튜플은 괄호만 적어주면 된다.
	- 리스트를 튜플로 바꿀 수 있다.
	- 컴퓨터가 헷갈리지 않을 만한 경우에는 괄호가 없어도 콤마로 구분해주면 튜플 취급을 한다.

In [65]:
a = (1, 2, 3)
b = (4,)
c = ()
d = 1, 2, 3

a, b, c, d # 결과 출력을 위한 라인이지만 사실 이것도 튜플이다!

((1, 2, 3), (4,), (), (1, 2, 3))

#### 튜플의 특성
- 값을 수정하거나 삭제할 수 없으므로 다음과 같은 코드는 에러가 난다.

In [66]:
a = (1, 2, 3)
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [67]:
a[1] = 3

TypeError: 'tuple' object does not support item assignment

- 하지만 인덱스, 슬라이스, 연산자 자체는 잘 작동한다.

In [68]:
a = (1, 2) * 3
print(a[3:5])
print(len(a))

(2, 1)
6

### 딕셔너리 (dictionary)
- 말 그대로 사전이라는 뜻
	- 키와 값으로 나누어진다.
	- 키로 값을 찾을 수 있다.
- 사용법
	- `{}` 를 쓰면서 키와 값 사이에 `:` 로 구분해주어야 한다.

In [69]:
food = {
    'apple': '사과', # 보기 좋게 정렬하기 위해서 띄어쓰기 네 개를 앞에 붙여주었다. 들여쓰기는 자유
    'pizza': '피자',
    'butter': '버터'
}

print(food['butter'])

버터

#### dictionary의 값 수정하기
- 하나의 값을 변경하거나 삭제하려고 할 때에는 단순하다.

In [70]:
food['cookie'] = '쿠키'
del food['apple']
food

{'pizza': '피자', 'butter': '버터', 'cookie': '쿠키'}

- 만약 여러개의 dictionary 키 값 쌍을 추가하려면 update 메소드를 사용할 수 있다.
	- 메소드의 인자값으로 다른 dictionary를 넣어주면 된다.

In [71]:
food.update({'melon': '멜론', 'ramen': '라면'})
food

{'pizza': '피자', 'butter': '버터', 'cookie': '쿠키', 'melon': '멜론', 'ramen': '라면'}

#### dictionary의 주의사항
- dictionary의 키는 여러개가 들어갈 수 없다.
	- 그래서 기존에 존재하는 키로 값을 넣어주게 되면 덮어씌워진다

In [72]:
food['pizza'] = '피자는 파파존스'
food

{'pizza': '피자는 파파존스',
 'butter': '버터',
 'cookie': '쿠키',
 'melon': '멜론',
 'ramen': '라면'}

- dictionary의 키는 불변 자료형만 들어갈 수 있다.
	- 숫자형, 문자열, 튜플 등

In [73]:
food[('apple', 'lemon')] = '과일' # 에러가 나지 않는다
food

{'pizza': '피자는 파파존스',
 'butter': '버터',
 'cookie': '쿠키',
 'melon': '멜론',
 'ramen': '라면',
 ('apple', 'lemon'): '과일'}

In [74]:
food[[1, 2, 3]] = '숫자 리스트' # 에러가 난다

TypeError: unhashable type: 'list'

#### dictionary 관련 함수
- dictionary의 키와 값, 혹은 키값 쌍을 리턴해주는 메소드가 있다.
	- 순서는 파이썬 3.7 이후부터는 삽입된 순서대로 나온다. 현재 코랩의 파이썬 버전은 3.12
	- 파이썬 3.7 이전까지는 어떤 순서로 나올지 모르기 때문에 주의!

In [75]:
print('Keys:', food.keys())
print('Values:', food.values())
print('Key-value pairs:', food.items())

Keys: dict_keys(['pizza', 'butter', 'cookie', 'melon', 'ramen', ('apple', 'lemon')])
Values: dict_values(['피자는 파파존스', '버터', '쿠키', '멜론', '라면', '과일'])
Key-value pairs: dict_items([('pizza', '피자는 파파존스'), ('butter', '버터'), ('cookie', '쿠키'), ('melon', '멜론'), ('ramen', '라면'), (('apple', 'lemon'), '과일')])

- 인덱스 `[]` 를 사용해도 되지만, 또 다른 값을 가져오는 방법은 `get` 메소드이다.
	- 이 메소드는 키가 없을 경우 에러를 내지 않고 `None`을 리턴하거나 default 값을 리턴해주게 쓸 수 있으므로 유용하다.

In [76]:
food['lemon'] # 에러가 난다

KeyError: 'lemon'

In [77]:
food.get('lemon') # 에러가 나지는 않지만 값이 나오지도 않는다

In [78]:
food.get('lemon', '없음') # '없음'이 나온다

'없음'

- `in` 명령어를 쓰면 어떤 키가 딕셔너리에 존재하는지 알 수 있다.

In [79]:
'lemon' in food, 'apple' in food

(False, False)

- 모든 값을 삭제해주는 메소드는 `clear` 이다.

In [80]:
food.clear()
food

{}

### 집합/셋 (set)
- 수학의 집합 개념과 동일한 자료형이다.
	- 리스트나 튜플은 같은 값이 여러개 들어갈 수 있지만, 셋은 그렇지 않다.
		- 그런 점에서는 딕셔너리의 키와 비슷하다
	- 리스트나 튜플은 순서가 있지만, 셋은 그렇지 않다
		- 내부적으로 순서가 있기는 하지만, 일정하다고 보장되지 않는다.
- 사용법
	- set 함수를 사용하거나, {}를 사용할 수 있다.
		- dictionary는 key: value 였지만 set은 그냥 {}와 콤마로 만들어준다.

In [81]:
s1 = set([1, 2, 3]) # 리스트나 튜플을 괄호 안에 넣어준다.
s2 = {4, 5, 6, 6} # 6이 하나만 남는다
s3 = set('Hello') # 각 문자가 원소로 취급되며 그 결과 l이 하나만 남는다

s1, s2, s3

({1, 2, 3}, {4, 5, 6}, {'H', 'e', 'l', 'o'})

#### 집합 연산
- 일반적으로 생각하는 집합 연산 (교집합, 합집합, 차집합)이 가능하다.

In [82]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print('교집합:', s1 & s2, s1.intersection(s2)) # & 연산자와 intersection 메소드가 동일한 역할을 한다
print('합집합:', s1 | s2, s1.union(s2))
print('차집합 (s1-s2):', s1 - s2, s1.difference(s2))
print('차집합 (s2-s1):', s2 - s1, s2.difference(s1)) # 차집합의 경우 연산의 성격상 순서에 따라 달라질 수 있다

교집합: {4, 5, 6} {4, 5, 6}
합집합: {1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 (s1-s2): {1, 2, 3} {1, 2, 3}
차집합 (s2-s1): {8, 9, 7} {8, 9, 7}

#### set 자료형 관련 함수
- 값을 추가할 때에는 한 개만 추가하느냐, 여러개를 추가하느냐에 따라 달라진다.

In [83]:
s1.add(7) # 하나의 원소만 추가할 수 있다.
s1

{1, 2, 3, 4, 5, 6, 7}

In [84]:
s1.update(s2) # 다른 튜플, 리스트, set을 한번에 업데이트할 수 있다.
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

- 값을 삭제하려 할 때에도 두가지 방법이 있다.
	- `remove`: 값이 set에 존재하지 않으면 에러가 난다.
	- `discard`: 값이 set에 존재하지 않아도 에러가 나지 않는다.

In [85]:
s1.remove(-1) # 에러가 난다.

KeyError: -1

In [86]:
s1.discard(-1)

- 모든 값을 삭제하려면 `clear`가 있다.

In [87]:
s1.clear()
s1

set()

### 불 (bool)
- 참 True 과 거짓 False 를 나타내는 자료형
- 비교 연산자, 논리 연산자와 함께 쓰이므로 매우 중요하다.

#### 비교 연산자

In [88]:
a = 1 # 대입연산자. a 라는 변수에 1을 넣는다.
a == 1 # 비교연산자. a 라는 변수가 1인지 확인한다.

True

- 그 외에도 `>`, `<`, `>=`, `<=` 연산자가 비교 연산자로 존재한다.

In [89]:
a > 3, a < 3, a >= 1, a <= 1

(False, True, True, True)

#### 논리 연산자
- `and`, `or`, `not` 연산자를 논리 연산자로 사용할 수 있다.

In [90]:
print('and 연산:', True and True, True and False, False and False)
print('or 연산:', True or True, True or False, False or False)
print('not 연산:', not True, not False)

and 연산: True False False
or 연산: True True False
not 연산: False True

#### 다른 자료형들은 bool 로 어떻게 형 변환되는가?

In [91]:
print('숫자형:', bool(1), bool(0), bool(-1)) # 0은 False, 나머지 값은 True
print('문자열:', bool('Python'), bool('')) # 빈 문자열은 False
print('list:', bool([1]), bool([])) # 빈 리스트는 False

숫자형: True False True
문자열: True False
list: True False

### 잠깐, 형 변환이 뭔데?
- 하나의 자료형은 다른 자료형으로 변환이 가능한 경우가 있다.
	- 여기서 `bool('Python')` 을 쓴 것이나 앞에서 `set([1, 2, 3])`를 쓴 것도 형 변환

In [92]:
int('123'), float('123.456'), list('Apple')

(123, 123.456, ['A', 'p', 'p', 'l', 'e'])